html {
    margin: 0%;
    padding: 0%;
}

body {
    display:flex;
    margin:0%;
    padding:0%;
}

.back {
    display:flex;
    background: linear-gradient(90deg, #030823 0%, #021D36 32.29%, rgba(0, 70, 134, 0.94) 66.67%, #02152B 100%);
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.top {
    display:flex;
    width: 100%;
    height: 120px;
    background-color: rgba(6, 31, 34, 0.57);
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header > div > a {
    text-decoration: none;
    color: inherit;
}

#inicio, #contato, #projetos {
    display:flex;
    margin-right: 6%;
    color: rgba(0, 250, 235, 1);
    font-family:'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
}